.weaverooSP10 p {
  font-size: 10px !important;
}

.weaverooSH10 h1,
.weaverooSH10 h2,
.weaverooSH10 h3,
.weaverooSH10 h4,
.weaverooSH10 h5,
.weaverooSH10 h6 {
  font-size: 10px !important;
}

.weaverooSP12 p {
  font-size: 12px !important;
}

.weaverooSH12 h1,
.weaverooSH12 h2,
.weaverooSH12 h3,
.weaverooSH12 h4,
.weaverooSH12 h5,
.weaverooSH12 h6 {
  font-size: 12px !important;
}

.weaverooSP14 p {
  font-size: 14px !important;
}

.weaverooSH14 h1,
.weaverooSH14 h2,
.weaverooSH14 h3,
.weaverooSH14 h4,
.weaverooSH14 h5,
.weaverooSH14 h6 {
  font-size: 14px !important;
}

.weaverooSP16 p,
.weaverooSH16 h1,
.weaverooSH16 h2,
.weaverooSH16 h3,
.weaverooSH16 h4,
.weaverooSH16 h5,
.weaverooSH16 h6 {
  font-size: 16px !important;
}

.weaverooSP18 p {
  font-size: 18px !important;
}

.weaverooSH18 h1,
.weaverooSH18 h2,
.weaverooSH18 h3,
.weaverooSH18 h4,
.weaverooSH18 h5,
.weaverooSH18 h6 {
  font-size: 18px !important;
}

.weaverooSP20 p {
  font-size: 20px !important;
}

.weaverooSH20 h1,
.weaverooSH20 h2,
.weaverooSH20 h3,
.weaverooSH20 h4,
.weaverooSH20 h5,
.weaverooSH20 h6 {
  font-size: 20px !important;
}

.weaverooSP22 p{
  font-size: 22px !important;
}

.weaverooSH22 h1,
.weaverooSH22 h2,
.weaverooSH22 h3,
.weaverooSH22 h4,
.weaverooSH22 h5,
.weaverooSH22 h6 {
  font-size: 22px !important;
}

.weaverooSP24 p {
  font-size: 24px !important;
}

.weaverooSH24 h1,
.weaverooSH24 h2,
.weaverooSH24 h3,
.weaverooSH24 h4,
.weaverooSH24 h5,
.weaverooSH24 h6 {
  font-size: 24px !important;
}

.weaverooSP26 p {
  font-size: 26px !important;
}

.weaverooSH26 h1,
.weaverooSH26 h2,
.weaverooSH26 h3,
.weaverooSH26 h4,
.weaverooSH26 h5,
.weaverooSH26 h6 {
  font-size: 26px !important;
}

.weaverooSP28 p {
  font-size: 28px !important;
}

.weaverooSH28 h1,
.weaverooSH28 h2,
.weaverooSH28 h3,
.weaverooSH28 h4,
.weaverooSH28 h5,
.weaverooSH28 h6 {
  font-size: 28px !important;
}

.weaverooSP30 p {
  font-size: 30px !important;
}

.weaverooSH30 h1,
.weaverooSH30 h2,
.weaverooSH30 h3,
.weaverooSH30 h4,
.weaverooSH30 h5,
.weaverooSH30 h6 {
  font-size: 30px !important;
}

.weaverooSP32 p {
  font-size: 32px !important;
}

.weaverooSH32 h1,
.weaverooSH32 h2,
.weaverooSH32 h3,
.weaverooSH32 h4,
.weaverooSH32 h5,
.weaverooSH32 h6 {
  font-size: 32px !important;
}