#weaveroo-entity-module-11 .weaverz-ai-samsung-secfour {
    height: 410px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    padding: 0px 67px 0 110px;
}

#weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-ico {
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 10px;
    border: solid 1px #d8d8d8;
    background-color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
}

#weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-mainheading {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -0.6px;
    text-align: left;
    color: #333333;
    padding-bottom: 3px;
    padding-top: 10px;
    max-width: 50%;
}

#weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-pragraph {
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.42px;
    text-align: left;
    color: #393939;
    max-width: 65%;
}

#weaveroo-entity-module-11 .weaverz-ai-samsung-secfour .weaverz-ai-samsung-secfour-ico .weaverz-ai-samsung-secfour-icon {
    width: fit-content;
    height: 50px;
}

#weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-productimg {
    width: 420px;
    height: 350px;
}

@media(max-width:991px) {
    #weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-productimg
    {
        width: 100%;
    }
    #weaveroo-entity-module-11 .weaverz-ai-samsung-secfour
    {
            padding: 30px 0 0;
            padding-left: 30px;
    }
    #weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-mainheading
    {
        max-width: 60%;
    }
}

@media(max-width:768px) {
    #weaveroo-entity-module-11 .weaverz-ai-samsung-secfour
    {
        height: 100%;
    }
    #weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-productimg
    {
        height: 100%;
    }
    #weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-pragraph
    {
        max-width: 98%;
    }
}

@media(max-width:480px) {
    #weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-productimg
    {
        height: 100%;
        width: 100%;
    }
    #weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-mainheading
    {
        max-width: 60%;
    padding-bottom: 8px;
    }
    #weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-pragraph
    {
        max-width: 90%;
        padding-bottom: 20px;
    }
    
    #weaveroo-entity-module-11 .weaverz-ai-samsung-secfour{
            height: 100%;
        padding: 10px 0 0;
        padding-left: 30px;
    }
}

@media(max-width:425px) {}

@media(max-width:375px) {}

@media(max-width:320px) {}
#weaveroo-entity-module-11 .weaverz-ai-samsung-secfour-mainheading
{
    max-width: 80%;
}