.weaveroo-ai-container h1,.weaveroo-ai-container h2,.weaveroo-ai-container h3,
.weaveroo-ai-container h4,.weaveroo-ai-container h5,.weaveroo-ai-container h6{
    font-family: "Times New Roman", Times, serif !important;
}

.weaveroo-ai-container p {
    font-family: "Calibri", sans-serif !important;
}

.weaveroo-ai-container {
    width: 1024px;
    margin: auto;
    height: 75px;
}

@media (min-width: 768px) {
    .weaveroo-ai-container {
        max-width: 100%;
    }

}

@media (max-width: 991px) {
    .weaveroo-ai-container {
        width: 100%;
    }
}

@media(max-width:480px) {
    .weaveroo-ai-container {
        width: 100%;

    }
    .weaveroo-ai-container {
        width: 100%;
    }
}