#weaveroo-keyfeatures-module-6  .keyaspect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  #weaveroo-keyfeatures-module-6  .keyaspect div {
    line-height: 1;
    width: 25%;
    max-height: 99px;
    text-align: center;
    margin-bottom: 30px;
    padding: 5px 20px;
    flex-basis: 25%;
    border-right: 1px solid #ccc;
    color: black;
  }
  
  #weaveroo-keyfeatures-module-6  .keyaspect div:last-child {
    border-right: 0px;
  }
  #weaveroo-keyfeatures-module-6  .keyaspect div:nth-child(4) {
    border-right: 0px;
  }
  #weaveroo-keyfeatures-module-6  .keyaspect div:nth-child(8) {
    border-right: 0px;
  }
  #weaveroo-keyfeatures-module-6  .keyaspect div img {
    margin: 0 auto;
    width: 50%;
    object-fit: fit-content;
    object-position: center center;
    display: block;
  }
  
  #weaveroo-keyfeatures-module-6  .keyaspect div span {
    margin: 0 auto;
    width: 100%;
    align-items: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .keyaspect-hed-h1 {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    padding: 30px 0px 30px 0px;
  }
  
  #weaveroo-keyfeatures-module-6  .keysapect-bg {
    border-radius: 4px;
    background-color: #f7f7f7;
  }
  
  @media screen and (max-width: 450px) {
    #weaveroo-keyfeatures-module-6  .keyaspect {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: column;
    }
    #weaveroo-keyfeatures-module-6  .keyaspect div {
      width: auto;
      max-height: 170px;
      border-right: 0px;
      border-bottom: 1px solid #ccc;
    }
    #weaveroo-keyfeatures-module-6  .keyaspect div:last-child {
      border-right: 0px;
      border-bottom: 0px;
    }
  
    #weaveroo-keyfeatures-module-6  h1 {
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 0px !important;
      font-size: 14px;
      font-weight: 700;
      color: #333333;
    }
  }
  @media screen and (max-width: 600px) {
    #weaveroo-keyfeatures-module-6  .keysapect-bg .keyaspect-div {
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
  }
  #weaveroo-keyfeatures-module-6  .keyValue .iconImg {
    max-height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
  }
  #weaveroo-keyfeatures-module-6  h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px !important;
    font-size: 18px;
    font-weight: 700;
    /* color: #333333; */
  }
  #weaveroo-keyfeatures-module-6  p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px !important;
    font-size: 16px;
    color: #333333;
  }
  #weaveroo-keyfeatures-module-6  .keyValue div {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  #weaveroo-keyfeatures-module-6  h3 {
    margin-bottom: 0px !important;
  }
  
  #weaveroo-keyfeatures-module-6  .keysapect-bg .keyaspect-div {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  #weaveroo-keyfeatures-module-6  .keyaspect-hed-h1 h2 {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    padding: 30px 0px 30px 0px;
  }
  
  #weaveroo-keyfeatures-module-6  h2 {
    margin-bottom: 0 !important;
  }
  
  #weaveroo-keyfeatures-module-6  .weaverz-ai-key-value {
    display: inline-block;
  }
  