

#weaveroo-entity-module-1 .weaverz-ai-stowe-subheading {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.6px;
    text-align: left;
    color: #393939;
    padding-bottom: 5px;
  }
  
  #weaveroo-entity-module-1 .weaverz-ai-kitchen-img {
    /* width: 373px;
    height: 313px; */
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  
  #weaveroo-entity-module-1 .weaverz-ai-rightkitchen-img {
    /* width: 355px;
    height: 315px; */
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  
  #weaveroo-entity-module-1 .weaverz-ai-content-rightarea {}
  
  #weaveroo-entity-module-1 .weaverz-ai-stowe-pragraph {
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.42px;
    text-align: left;
    /* color: #393939; */
  }
  
  #weaveroo-entity-module-1 .weaverz-ai-content-rightarea {
    padding-right: 140px;
  }
  
  #weaveroo-entity-module-1 .weaverz-ai-content-k-rightarea {
    /* padding-right: 65px; */
  }
  
  #weaveroo-entity-module-1 .weaverz-ai-k-stowe-subheading {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.6px;
    text-align: left;
    color: #393939;
    padding-bottom: 5px;
    max-width: 65%;
  }
  
  #weaveroo-entity-module-1 .weaverz-ai-k-stowe-pragraph {
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.42px;
    text-align: left;
    /* color: #393939; */
    max-width: 75%;
  }
  
  #weaveroo-entity-module-1 .weaverz-ai-section-g {
    background-color: #f5f5f5 !important;
  }
  
  #weaveroo-entity-module-1 .weaverz-ai-kitchenicon-img {
    width: fit-content;
    height: 45px;
  }
  
  #weaveroo-entity-module-1 .weaverz-ai-kitcheniconbox {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
  }
  
  @media(max-width:768px) {
    #weaveroo-entity-module-1 .weaverz-ai-content-k-rightarea {
        padding-right: 50px;
        padding-left: 30px;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-k-stowe-subheading {
        max-width: 85%;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-k-stowe-pragraph {
        max-width: 95%;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-content-rightarea {
        padding: 25px 40px 30px 30px;
    }
  
  }
  
  @media(max-width:480px) {
    #weaveroo-entity-module-1 .weaverz-ai-kitchenicon-wrap {
        height: 100%;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-kitchen-img {
        margin: auto;
        width: 100%;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-kitchenicon-wrap .weaverz-ai-xs-dflex {
        display: flex;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-kitchenicon-wrap {
        height: 985px;
        padding: 25px 0 25px 0;
        background-color: #fff;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-kitchenicon-img {
        top: 5px;
        position: relative;
    }
  
    /* #weaveroo-entity-module-1 .weaverz-ai-stowe-subheading {
        padding-left: 14px;
    } */
  
    #weaveroo-entity-module-1 .weaverz-ai-content-rightarea {
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 30px;
        padding-left: 20px;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-content-k-rightarea {
        padding-right: 20px;
        padding-bottom: 30px;
        padding-left: 20px;
        position: absolute;
        top: 345px;
    }
  
    .weaverz-ai-content-k-rightarea .weaverz-ai-xs-dflex {
        flex-flow: row-reverse;
        display: flex;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-content-k-rightarea .weaverz-ai-kitchenicon-img {
        margin-left: 15px;
        top: 5px;
        position: relative;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-rightkitchen-img {
        position: absolute;
        top: 0;
        right: 0;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-k-stowe-subheading {
        max-width: 100%;
    }
  }
  
  @media(max-width:375px) {}
  
  @media(max-width:320px) {
    #weaveroo-entity-module-1 .weaverz-ai-kitchen-img {
        width: 100%;
        height: auto;
    }
  
    #weaveroo-entity-module-1 .weaverz-ai-rightkitchen-img {
        width: 100%;
        height: auto;
    }
  }
  

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'); */

/* #weaveroo-entity-module-1 .weaverz-ai-font-opensans {
    font-family: 'Open Sans', sans-serif;
}


#weaveroo-entity-module-1 .weaverz-ai-layout-wrap {
    width: 1024px;
}

@media (min-width: 768px) {
    #weaveroo-entity-module-1 .container {
        max-width: 100%;
    }

}


@media (max-width: 991px) {
    #weaveroo-entity-module-1 .weaverz-ai-layout-wrap {
        width: 100%;
    }
}

@media(max-width:480px) {
    #weaveroo-entity-module-1 .weaverz-ai-layout-wrap {
        width: 100%;

    }
    #weaveroo-entity-module-1 .weaverz-ai-layout {
        width: 100%;
    }
} */