#weaveroo-entity-module-10 .weaverz-ai-samsung-secthree {
    height: 410px;
    background-color: #414141;
    position: relative;
    padding: 28px 67px 0 110px;
    /* overflow: hidden; */
    padding-left:0;
}

#weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-ico {
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 10px;
    border: solid 1px #d8d8d8;
    background-color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
}

#weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-mainheading {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -0.6px;
    text-align: left;
    color: #ffeded;
    padding-bottom: 3px;
    padding-top: 10px;
    max-width: 60%;
}

#weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-leftcontent {
    padding-left: 70px;
}

#weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-pragraph {
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.42px;
    text-align: left;
    color: #ffeded;
    max-width: 85%;
}

#weaveroo-entity-module-10 .weaverz-ai-samsung-secthree .weaverz-ai-samsung-secthree-ico .weaverz-ai-samsung-secthree-icon {
    width: fit-content;
    height: 50px;
}

#weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-productimg {
    width: 380px;
    height: 350px;
}

#weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-imgsec {
    width: 420px;
    height: 350px;
    background-color: #fff;
    border-radius: 0px 20px 20px 0;
}

@media(max-width:991px) {
    #weaveroo-entity-module-10 .weaverz-ai-samsung-secthree
    {
            padding: 45px 30px 0 40px;
            height: 620px;
    }
    #weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-mainheading
    {
            max-width: 80%;
    }
    #weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-pragraph
    {
        max-width: 100%;
    }
}

@media(max-width:768px) {
    #weaveroo-entity-module-10 .weaverz-ai-samsung-secthree
    {
        height: 100%;
    }
}

@media(max-width:480px) {
    #weaveroo-entity-module-10 .weaverz-ai-samsung-secthree
    {
        padding: 45px 30px 0 30px;
        height: 620px;
    }
    #weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-imgsec
    {
        position: absolute;
        bottom: 0;
        border-radius: 20px 0 0 20px;
        margin-bottom: 28px;
        
    }
    #weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-leftcontent
    {
            padding-left: 0;
        position: relative;
        top: 0;
        padding-bottom: 20px;
    }
}

@media(max-width:425px) {}

@media(max-width:375px) {
    #weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-imgsec
    {
            width: 320px;
    }
}

@media(max-width:320px) {
    #weaveroo-entity-module-10 .weaverz-ai-samsung-secthree
    {
        height: 700px;
        padding: 45px 15px 0 15px;
    }
    #weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-imgsec {
        width: 280px;
        margin: auto;
    }
    #weaveroo-entity-module-10 .weaverz-ai-samsung-secthree-productimg
    {
            width: 280px;
    }
    
}