section#weaveroo-keyfeatures-module-1 {
  .weaverz-ai-container {
      margin: auto;
  }

  .weaverz-ai-keyfeature-heading {
      font-size: 22px;
      font-weight: 600;
      font-stretch: normal;
      font-style: italic;
      line-height: 1.36;
      letter-spacing: -0.66px;
      color: #ffffff;
  }
  .weaverz-ai-kvp-side-img  {
    img {
        margin: auto !important;
    }   
    }

  .weaverz-ai-keyfeature-icon {
      width: 53px;
      height: 53px;
      margin: auto;
      padding: 0;
      border-radius: 5px;
      display: block;
      align-items: center;
      border: solid 1px #d8d8d8;
      background-color: #ffffff;
      justify-content: center;
  }

  .weaverz-ai-keyfeature-key {
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.42;
      letter-spacing: -0.36px;
      text-align: center;
      color: #ffffff;
  }

  .weaverz-ai-keyfeature-value {
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: -0.3px;
      text-align: center;
      color: #ffffff;
  }
}
