#weaveroo-hero-module-1 .weaverz-ai-top-electriccooker-wrap {
  padding: 10px 0;
}

#weaveroo-hero-module-1 .weaverz-ai-top-electriccooker-wrap {
  height: 416px;
  /* background-color: #050505; */
}

#weaveroo-hero-module-1 .weaverz-ai-stowe-subheading {
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.6px;
  text-align: left;
  color: #393939;
  padding-bottom: 5px;
}

#weaveroo-hero-module-1 .weaverz-ai-electric-brand-logo {
  width: 222px;
  height: 118px;
  /* margin-left: 30px; */
  border-radius: 13px;
  background-color: rgb(255 255 255 / 90%);
  background-color: rgb(255 255 255 / 90%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#weaveroo-hero-module-1 .weaverz-ai-electric-cookerimg .weaverz-ai-img-auto {
  /* width: 212px;
    height: 396px; */
  width: 100%;
}

#weaveroo-hero-module-1 .weaverz-ai-electric-brand-logo .weaverz-ai-img-auto {
  width: 200px;
  height: 106px;
}

#weaveroo-hero-module-1 .weaverz-ai-electric-right-sec {
  width: 325px;
  height: 156px;
  padding: 19px 54px 4px 15px;
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  #weaveroo-hero-module-1 .weaverz-ai-electric-right-sec {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 480px) {

  #weaveroo-hero-module-1 .weaverz-ai-stowe-subheading {
    font-size: 20px !important;
  }
  #weaveroo-hero-module-1 .weaverz-ai-top-electriccooker-wrap {
    height: 100%;
    padding: 10px 0 24px;
  }

  #weaveroo-hero-module-1 .weaverz-ai-electric-cookerimg {
    padding-bottom: 24px;
  }

  #weaveroo-hero-module-1 .weaverz-ai-electric-right-sec {
    padding: 0;
    height: 100%;
    position: relative;
    background: transparent;
    margin-left: auto;
    width: 50%;
    margin-top: 0;
  }

  #weaveroo-hero-module-1 .weaverz-ai-electric-topheading {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: -0.6px;
    text-align: left;
    color: #ffffff;
  }

  #weaveroo-hero-module-1 .weaverz-ai-electric-brand-logo .weaverz-ai-img-auto {
    width: 160px;
    height: auto;
  }

  #weaveroo-hero-module-1 .weaverz-ai-electric-brand-logo {
    margin-bottom: 30px;
    margin-top: 15px;
    position: absolute;
    width: 156px;
    height: 83px;
    bottom: 24px;
    left: 14px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #weaveroo-hero-module-1 .weaverz-ai-electric-bottomheading {
    font-size: 27px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.81px;
    text-align: left;
    color: #ffffff;
  }
}

@media (max-width: 320px) {
  #weaveroo-hero-module-1 .weaverz-ai-electric-topheading {
    font-size: 16px;
  }

  #weaveroo-hero-module-1 .weaverz-ai-electric-brand-logo .weaverz-ai-img-auto {
    width: 130px;
    height: auto;
  }

  #weaveroo-hero-module-1 .weaverz-ai-electric-brand-logo {
    width: 130px;
    height: 83px;
    bottom: 24px;
    left: 14px;
  }
}
