#weaveroo-entity-module-2 .weaverz-ai-six-earbudsBox-Section6 {
    height: 385px;
  }
  
  #weaveroo-entity-module-2 .weaverz-ai-earbudBox-IconImg {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  #weaveroo-entity-module-2 .weaverz-ai-earbudBox-leftIcon {
    width: 63px;
    height: 63px;
    border: 1px solid #848484;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #weaveroo-entity-module-2 .weaverz-ai-earbudBox-title {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.6px;
    text-align: left;
    color: #2c2c2c;
    width: 80%;
    margin-bottom: 8px;
  }
  
  #weaveroo-entity-module-2 .weaverz-ai-earbudBox-Desc {
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.42px;
    text-align: left;
    color: #2c2c2c;
    width: 80%;
  }
  
  #weaveroo-entity-module-2 .weaverz-ai-earbudbox-rightSide-img {
    width: 448px;
    height: 385px;
    object-fit: contain;
    margin: 0;
    float: left;
  }
  
  #weaveroo-entity-module-2 .weaverz-ai-earbudBox-rightSide {
    padding-left: 25%;
  }
  
  @media (max-width: 480px) {
    #weaveroo-entity-module-2 .weaverz-ai-six-earbudsBox-Section6 {
      margin-top: 10%;
      height: auto;
    }
    #weaveroo-entity-module-2 .weaverz-ai-six-earbudsBox-Section6 .weaverz-ai-earbudBox-rightSide {
      padding:1rem;
      max-width: 100%;
  
    }
    #weaveroo-entity-module-2 .weaverz-ai-earbudbox-rightSide-img {
      width: 100%;
      height: auto;
      object-fit: contain;
      margin: 0;
      padding: 1rem;
    }
    #weaveroo-entity-module-2 .weaverz-ai-six-earbudsBox-Section6 {
      height: auto;
    }
  }
  @media (max-width: 375px) {
    #weaveroo-entity-module-2 .weaverz-ai-earbudbox-rightSide-img {
      width: 100%;
      height: auto;
      object-fit: contain;
      margin: 0;
      padding: 1rem;
    }
  }
  @media (max-width: 320px) {
    #weaveroo-entity-module-2 .weaverz-ai-six-earbudsBox-Section6 .weaverz-ai-earbudBox-rightSide {
      top: 30%;
    }
    #weaveroo-entity-module-2 .weaverz-ai-six-earbudsBox-Section6 {
      height: auto;
  
    }
    
  }
  