#weaveroo-entity-module-23 .weaverz-ai-sideview-circle {
  position: absolute;
  right: 0;
  top: -70px;
  padding: 0px 89px 0px 79px;
  opacity: 1;
  z-index: 1;
}

#weaveroo-entity-module-23 .weaverz-ai-alig-items-center {
  align-items: center;
}

#weaveroo-entity-module-23 .weaverz-ai-stand-heading, #weaveroo-entity-module-23 .weaverz-ai-tnshoe-text {
  font-size: 25px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  max-width: 60%;
  /* color: #000; */
}

#weaveroo-entity-module-23 .weaverz-ai-standup-pra {
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -.28px;
  text-align: left;
  /* color: #333; */
  max-width: 80%;
}

#weaveroo-entity-module-23 .weaverz-ai-sideview-text {
  font-size: 47px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.41px;
  text-align: left;
  color: #ffffff;
}

#weaveroo-entity-module-23 .weaverz-ai-sideview-wrap {
  height: 333px;
  /* background-color: #f2f2f2; */
}

#weaveroo-entity-module-23 .weaverz-ai-sideview-wrap .weaverz-ai-alig-items-center {
  position: relative;
  z-index: 2;
}

#weaveroo-entity-module-23 .weaverz-ai-leftview-img {
  position: relative;
  left: 0;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 330px;
  background-size: cover;
  object-fit: contain;
  background-position-x: 0;
  background-position-y: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#weaveroo-entity-module-23 .weaverz-ai-leftview-img img {
  height: auto;
  width: 100%;
  margin-left: auto;
  object-fit: contain;
  position: relative;
}

@media (max-width: 768px) {
  #weaveroo-entity-module-23 .weaverz-ai-sideview-circle {
    padding: 0px 49px 0px 49px;
  }

  #weaveroo-entity-module-23 .weaverz-ai-standup-pra {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  #weaveroo-entity-module-23 .weaverz-ai-sideview-wrap {
    min-height: 510px;
    height: 100%;
  }

  #weaveroo-entity-module-23 .weaverz-ai-sideview-text {
    text-align: center;
    padding-bottom: 40px;
  }

  #weaveroo-entity-module-23 .weaverz-ai-leftview-img {
    background-size: cover;
  }

  #weaveroo-entity-module-23 .weaverz-ai-leftview-img {
    padding-bottom: 10px;
    left: auto;
    top: auto;
    height: 300px;
  }

  #weaveroo-entity-module-23 .weaverz-ai-leftview-img img {
    width: 100%;
    top: 0;
    position: relative;
    left: 0;
  }

  #weaveroo-entity-module-23 .weaverz-ai-sideview-group {
    position: absolute;
  }

  #weaveroo-entity-module-23 .weaverz-ai-stand-heading {
    font-size: 22px;
    max-width: 100%;
  }

  #weaveroo-entity-module-23 .weaverz-ai-sideview-circle::before {
    display: none;
  }

  #weaveroo-entity-module-23 .weaverz-ai-sideview-circle {
    background-position: top center;
    right: 0;
    top: 300px;
    width: 100%;
    background-size: auto;
    padding: 10px 0 20px 25px;
    border-radius: 0;
  }
}

@media (max-width: 425px) {
  #weaveroo-entity-module-23 .weaverz-ai-leftview-img img {
    left: 0;
    top: 0;
  }
}

@media (max-width: 375px) {
  #weaveroo-entity-module-23 .weaverz-ai-leftview-img img {
    left: 0;
    top: 0;
  }

  #weaveroo-entity-module-23 .weaverz-ai-stand-heading {
    font-size: 20px;
    max-width: 80%;
    padding-bottom: 10px;
  }
}

@media (max-width: 320px) {
  #weaveroo-entity-module-23 .weaverz-ai-leftview-img img {
    left: 0;
  }
}
